@font-face {
    font-family: GreekFont;
    src: url(/fonts/OLYMB.TTF);
}

body {
    background-image: url('/css/imagenes/image1.webp');
    background-size: cover;
    background-position: 70%;

    justify-content: center;
    align-items: center;
    display: flex;
    font-family: GreekFont;

}

.container {
    margin-top: -110px;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 1300px;
    /* Se ajusta al contenido */

    /* Si quieres limitar el ancho */
    height: 1300px;
    /* Se ajusta automáticamente al contenido */
    padding: 20px;
    background-image: url('/css/imagenes/loginSombreado.webp');
    background-size: 100%;
}

.contenidor {

    text-align: left;
    font-family: GreekFont;
    font-size: larger;
    color: rgb(255, 161, 20);
}

#contenido {

    text-align: center;
    margin-bottom: 20px;
    margin-top: 150px;

}

#logo {

    margin-top: 60%;
}

input {
    font-family: GreekFont;
    font-size: larger;
    background: transparent;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(255, 161, 20);
    margin-bottom: 20px;
    width: 100%;
    /* Inputs ocupan todo el ancho disponible */
}

#btnGoogle img {
    width: 500px; /* Cambia el tamaño del botón */
    height: auto; /* Mantiene las proporciones */
}

#btnGoogle span {
    font-size: 16px; /* Ajusta el tamaño del texto si es necesario */
}

h2 {
    font-size: larger;
    font-family: GreekFont;
    font-style: bold;

}
