@font-face {
    font-family: GreekFont;
    src: url(/fonts/OLYMB.TTF);
  }

body{
    background-image: url('/css/imagenes/image1.png');
    background-size: cover;
    background-position: 70%;

    justify-content: center;
    align-items: center;
    display: flex;

}
.container{

     text-align: center;
     justify-content: center;
     display: flex;
     width: 900px;
     height: 900px;
     background-image: url('/css/imagenes/loginSombreado.png');
     background-size: 100%;
}
.contenidor{

    text-align: left;
    font-family: GreekFont;
    font-size: larger;
    color: rgb(255, 161, 20);
}
#contenido{

    text-align: center;
    margin-bottom: 20px;

}

#logo{

    margin-top: 55%;
}

input[type="text"] {

    font-family: GreekFont;
    font-size: larger;
    background: transparent;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(255, 161, 20);
  }

#btnSend{

}

#btnRgt{

}

#btnRgtGoogle{

}


h2{
    font-size: larger;
    font-family: GreekFont;
    font-style: bold;

}
