@font-face {
    font-family: GreekFont;
    src: url(/fonts/OLYMB.TTF);
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px; /* Espaciado entre filas */
    margin-top: 150px;
    margin-bottom: 30px;
}


/* Estilo de las imágenes */
img.tuto, img.cap1, img.cap2 {
    position: absolute; /* Posiciona la imagen dentro de la fila */
    top: -80px; /* Ajusta la superposición vertical sobre el div */
    margin-left: -510px; /* Superposición en el borde izquierdo */
    width: 500px; /* Tamaño de la imagen */
    height: auto; /* Mantiene la proporción */
    z-index: 2; /* Asegura que la imagen esté encima del div */
}

img.cap1{
    top: 468px;
}

img.cap2{
    top: 1017px;
}
/* Estilo de los divs */
.cap_0, .cap_1, .cap_2 {
    background-image: url('/css/imagenes/cap/imgPrg2.png');
    background-size: cover; /* Asegura que la imagen de fondo cubra toda el área */
    background-repeat: no-repeat;
    width: 743px;
    height: 349px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 1; /* Asegura que el div esté debajo de la imagen */
    margin-right: -155px;
}

.cap_0 .btnTuto,
.cap_1 .btnCap1,
.cap_2 .btnCap2 {
    width: 120px;
    height: auto;
    position: absolute;
    bottom: 70px; /* Ajusta la distancia desde la parte inferior */
    right: 10px; /* Ajusta la distancia desde la derecha */
}

.overlay-text {
    position: absolute; /* Posiciona el texto relativo al contenedor de la fila */
    top: 120px; /* Ajusta la posición vertical del texto */
    left: 40px; /* Centra el texto horizontalmente */
    transform: translateX(-50%); /* Ajusta el centro del texto */
    font-size: 30px; /* Tamaño del texto */
    font-weight: bold; /* Negrita para mayor visibilidad */
    color: white; /* Color del texto */
    font-family: GreekFont;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para mejor legibilidad */
    z-index: 3; /* Asegura que el texto esté encima de la imagen */
    pointer-events: none; /* Hace que el texto no sea interactivo */
}

.tit1{
    margin-top: 550px;
}

.tit2{
    margin-top: 1100px;
}
