@font-face {
    font-family: GreekFont;
    src: url(/fonts/OLYMB.TTF);
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    gap: 100px;
    margin-top: 120px; /* Espaciado vertical entre las clases */
    margin-bottom: 30px;
}

.pj_1, .pj_2, .pj_3, .pj_4 {

    background-image: url('/css/imagenes/pjs/pjs_desc.png');
    background-size: cover; /* Asegura que la imagen de fondo cubra toda el área */
    background-repeat: no-repeat;
    flex-direction: column;
    width: 808px;
    height: 275px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    color: rgb(0, 0, 0); /* Texto visible sobre la imagen de fondo */
    left: 80px;
    font-family: GreekFont;
    word-break: normal;
}
.descripcion {
    margin-top: 50px;
    max-width: 400px; /* Define el límite del ancho del texto */
    word-wrap: break-word; /* Asegura que las palabras largas se dividan si es necesario */
    overflow: hidden; /* Oculta el contenido que exceda el límite si no cabe */
    text-overflow: ellipsis; /* Opcional: agrega "..." al final si se recorta el texto */
}

.perfil1{
    width: 120px;
    height: auto;
    position: absolute;
    top: 220px;
    right: 200px;
}
.perfil2{
    width: 120px;
    height: auto;
    position: absolute;
    top: 600px;
    right: 200px;
}
.perfil3{
    width: 120px;
    height: auto;
    position: absolute;
    top: 970px;
    right: 200px;
}

.overlay-text1, .overlay-text2, .overlay-text3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: GreekFont;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 4;
    pointer-events: none;
}


.n_1, .n_2, .n_3{
    position:absolute;
    z-index: 3;
    width: 300px;
    height: 150px;
}

.n_1{
    top:85px;
    left: 20px;
}

.overlay-text1{
    top:133px;
    left: 100px;
}

.n_2{
    top: 460px;
    left: 20px;
}

.overlay-text2{
    top:510px;
    left: 130px;
}

.n_3{
    top: 835px;
    left: 20px;
}

.overlay-text3{
    top:890px;
    left: 130px;
}
